# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Big folders / artifacts
data/
datasets/
outputs/
checkpoints/
runs/
wandb/
*.pt
*.pth
*.ckpt
*.safetensors
*.zip
*.tar
*.tar.gz
*.7z

# HuggingFace / model caches
.cache/
**/.cache/
*.bin
